{% extends "auctions/layout.html" %}

{% block body %}
Product information

{% if message %}
    <div>{{ message }}</div>
{% endif %}
<h3>{{ product.title }}</h3>
<img src="{{ product.image_link }}" alt="image of product" style="width:320px;height:180px;">
<h4>${{ product.starting_bid }}</h4>
<h5>{{ product.description }}</h5>
<h6>Seller: {{ product.seller }}</h6>
<h7>Posted at: {{ product.created_at }}</h7>

<br><br>
{% if user.username == product.seller %}
<h3>CLOSE AUCTION</h3>
<form action="{% url 'closeauction' product.id %}" method="POST" onsubmit="return confirm('Are you sure you want to close the Listing?');">
    {% csrf_token %}
    <div class="form-group">
        <input type="submit" class="btn" value="Submit">
    </div>
</form>
{% endif %}

{% if user.username != product.seller %}
<p>Place your bid :</p>
<form action="{% url 'viewlisting' product.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="newbid" placeholder="New Bid">
        <input type="submit" class="btn" value="Submit">
    </div>
</form>
<br><br>
{% if watch %}
<form action="{% url 'addtowatchlist' product.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn" value="Remove from Watchlist">
</form>
{% else %}
<form action="{% url 'addtowatchlist' product.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn" value="Add to Watchlist">
</form>
{% endif %}
{%endif%}
<br><br>
<h3>Comments</h3> 
<br><br>
<p>Add a comment:</p>
<form action="{% url 'addcomment' product.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" id="content" name="content" placeholder="Type your comment here">
        <input type="submit" class="btn" value="Add Comment" placeholder="Add Comment">
    </div>
</form>
<br><br>
{% for comment in comments %}
    <h4>{{ comment.user }}</h4>
    <h5>{{ comment.comment }}</h5>
    <h6>{{ comment.time }}</h6>
    <br><br>
{% endfor %}


{% endblock %}